<h1>Registration Number WebApp</h1>

<form class="add_form" action="/reg_numbers" method="post">
  <div class="messages">
    <div class="success">{{messages.success}}</div>
    <div class="info">{{messages.info}}</div>
    <div class="error">{{messages.error}}</div>
  </div>
  <label for="reg_number">
    <h2>Reg Number: </h2><input type="text" name="reg_number" id="reg_number">
  </label>
  <button type="submit" name="button">ADD</button>
</form>

<form class="filter_form" action="/filter" method="post">
  <div class="options">
    <label for="capetown">
      <input type="radio" name="regcode" id="capetown" value="CA">Cape Town
    </label>
    <label for="bellville">
      <input type="radio" name="regcode" id="bellville" value="CY">Bellville
    </label>
    <label for="paarl">
      <input type="radio" name="regcode" id="paarl" value="CJ">Paarl
    </label>
    <label for="malmesburry">
      <input type="radio" name="regcode" id="malmesburry" value="CK">Malmesburry
    </label>
    <label for="stellenbosch">
      <input type="radio" name="regcode" id="stellenbosch" value="CL">Stellenbosch
    </label>
  </div>
  <button type="submit" name="button">SHOW</button>
</form>

<div class="show_reg">
  {{#each regNumbers}}
    <div class="regNumber">{{reg_number}}</div>
  {{/each}}
  {{#unless regNumbers}}
    <h2>No registration numbers available</h2>
  {{/unless}}
</div>
