body, html {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(72, 144, 217);
    height: 100vh;
}

/* add registration number form */
.row {
    display: flex;
}

.add_form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.add_form label input {
    margin: 1em 0;
    height: 20px;
    width: 280px;
}

.submit {
    padding: 0.2em;
    width: 8em;
    margin: 0 5px;
}

h4 {
    margin: 0;
}

/* display the registration form */
.display {
    display: flex;
    background-color: white;
    border: 1px solid black;
    width: 100%;
    min-height: 6em;
    flex-wrap: wrap;
    max-height: 100px;
    overflow-y: scroll;
}

.list-item {
    padding: 0.2em;
    background-color: gold;
    border: 1px solid black;
    border-radius: 0.2em;
    color: black;
    height: 1em;
    margin: 0.5em;
}

.not-avilable {
    margin: auto auto;
}

.options {
    display: flex;
}

.filter_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.filter_form div {
    padding: 20px;
}

.filter_form button {
    height: 30px;
    width: 280px;
}

/* flash messages */
.messages {
    height: 0.5em;
}

.success {
    color: rgb(68, 206, 68);
}

.info {
    color: aqua;
}

.error {
    color: rgb(255, 63, 42);
}

/* container */
.container {
    background-color: white;
    padding: 1em;
    border: 1px solid black;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

fieldset, .container {
    border-radius: 10px;
}

fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    width: 600px;
}