body, html {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(72, 144, 217);
}

/* add registration number form */
.add_form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
}

.add_form label input {
    margin: 1em;
    height: 20px;
    width: 280px;
}

.add_form button {
    padding: 10px;
    width: 300px;
}

/* display the registration form */
.show_reg {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 500px;
}

.show_reg .regNumber {
    border: 1px solid black;
    background-color: yellow;
    border-radius: 5%;
    padding: 20px;
    margin: 2px;
}

.filter_form {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.filter_form div {
    padding: 20px;
}

.filter_form button {
    height: 30px;
}

/* flash messages */
.messages {
    height: 1em;
}

.success {
    color: rgb(68, 206, 68);
}

.info {
    color: aqua;
}

.error {
    color: rgb(255, 63, 42);
}